* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100% !important;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
body {
  font-family: Roboto;
}
.mainWrapper {
  height: 100vh;
}
.nav_logo {
  height: 80px;
}
.nav-link {
  color: #17abe2 !important;
}
.login {
  padding: 5px 45px;
  color: #e53212;
  font-size: 20px;
  border-radius: 50px;
  outline: none !important;
  border: 2px solid #e53212;
  background-color: white;
  margin: 5px;
}
.signUp {
  margin: 5px;
  padding: 5px 45px;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  outline: none !important;
  border: 2px solid #e53212;
  background-color: #e53212;
}
.banner img {
  height: 600px;
}
.banner {
  width: 100%;
  background-image: url("./assests/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px !important;
  position: relative;
  border-radius: 0px 0px 40px 40px;
}

.text_wrapper {
  position: absolute;
  top: 30%;
  left: 10%;
}
.bannerHeader {
  border-radius: 0px 0px 40px 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.contentBox {
  display: none;
  height: 400px;
  width: 900px;
  position: absolute;
  top: 10%;
  left: 25%;
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
}
.contextBox_List {
  padding-left: 20px;
  line-height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
}
.contentBox_Image {
  height: 150px !important;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: inherit;
}
.content_box_text {
  font-style: snormal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  word-spacing: 2px;

  color: #5b5d61;
}
.club_Heading {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}
.clubHeader {
  width: 100%;
  /* margin: 0 auto; */
  text-align: center;
}

.a {
  border: 2px solid black;
  margin: 30px 0px;
}
.know_Box {
  margin: 0 auto;
  color: white;
  height: 300px;
  width: 100%;
  background-color: #ef7d00;
  border-radius: 30px;
  margin-bottom: -95px;
}
.left_know {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 47px;
  font-weight: bold;
}
.right_Know {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: bold;
}

.subscribeDown {
  margin: 5px;
  padding: 7px 100px;
  color: white;
  font-size: 25px;
  border-radius: 50px;
  outline: none !important;
  border: 2px solid #e53212;
  background-color: #e53212;
}
.hello {
  font-size: 25px;
  display: block !important;
  font-weight: normal;
}
.footer {
  position: absolute;
  margin-top: auto;
  z-index: -22;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(245, 246, 252, 0.52),
      rgba(240, 240, 240, 0.73)
    ),
    url("./assests/footer.png");
}
.fab {
  font-size: 40px;
}
.terms p {
  margin-top: 15px;
  font-size: 25px;
}
.subfooter {
  padding-top: 100px !important;
}
.member_Wrapper {
  position: relative;
  height: 500px;
  border-radius: 30px;
  background-image: url("./assests/members.jpg");
  background-size: cover;
  margin-bottom: 150px;
}
.sub_member {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.sub_member_heading {
  color: white;
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.commentWrapper {
  color: black;
  position: absolute;
  top: -10%;
  right: 20%;
}
.commentBox {
  margin: 20px 0;
  height: 200px;
  width: 500px;
  background-color: white;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  padding: 15px;
  border-radius: 30px;
}
.profile {
  display: flex;
}
.profileImage {
  height: 80px !important;
  width: 80px !important;
  border-radius: 50%;
  margin-right: 5px;
}
.knowWapper {
  margin-top: 200px !important;
}
.smallNavButtons {
  height: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.nav_Items {
  font-weight: bold;
  color: white;
  font-size: 55px;
}
/* Mediq Queries */

@media (max-width: 1560px) {
  .contentBox {
    height: 400px !important;
    width: 800px !important;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
  }
}
@media (max-width: 1310px) {
  .subscribeDown {
    font-size: 20px;
  }
  .left_know {
    font-size: 35px;
  }
}
@media (max-width: 1230px) {
  .contentBox {
    height: 400px !important;
    width: 600px !important;
  }
  .left_know {
    font-size: 25px;
  }
  .knowWapper {
    margin-top: 200px !important;
  }
  .subscribeDown {
    margin: 5px;
    padding: 7px 50px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    outline: none !important;
    border: 2px solid #e53212;
    background-color: #e53212;
  }
  .contentBox {
    height: 400px;
    width: 700px;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
  }
}
@media (max-width: 952px) {
  .profileImage {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    margin-right: 5px;
  }
  .commentWrapper {
    color: black;
    position: absolute;
    top: 80% !important;
    left: 20%;
    display: flex;
    justify-content: space-around;
  }
  .commentBox {
    margin-left: 5px;
    width: 800px !important;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    padding: 15px;
    border-radius: 30px;
  }
  .contentBox {
    display: none;
  }
  .box {
    display: none;
  }
}
@media (max-width: 768px) {
  .subsBtn {
    background-color: #e53212;
    color: white;
    font-size: 25px !important;
    padding: 20px 20px !important;
    border-radius: 30px !important;
    display: inline-block !important;
    margin-top: 20px !important;
  }
  #hamburger {
    display: block;
  }
  .terms {
    flex-direction: column;
  }
  .terms p {
    display: block !important;
  }
  .left_know {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 27px;
    font-weight: bold;
    padding: 0px 50px !important;
  }
}
@media (max-width: 550px) {
  .hello {
    font-size: 12px;
  }
}
@media (max-width: 636px) {
  .subs_Btn {
    background-color: #e53212;
    color: white;
    font-size: 25px ;
    padding: 20px 150px  !important;
    border-radius: 30px ;
    display: inline-block ;
    margin-top: 20px ;
  }
  .lgnBtn {
    border: 2px solid white !important;
    background-color: transparent;
    color: white;
    font-size: 25px ;
    padding: 20px 150px  !important;
    border-radius: 30px ;
    display: inline-block ;
    margin-top: 20px ;
  }
}
@media (max-width: 460px) {
  .subs_Btn {
    background-color: #e53212;
    color: white;
    font-size: 25px ;
    padding: 20px 100px  !important;
    border-radius: 30px ;
    display: inline-block ;
    margin-top: 20px ;
  }
  .lgnBtn {
    border: 2px solid white !important;
    background-color: transparent;
    color: white;
    font-size: 25px ;
    padding: 20px 100px  !important;
    border-radius: 30px ;
    display: inline-block ;
    margin-top: 20px ;
  }
  .commentBox {
    margin-left: 5px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    padding: 15px;
    font-size: 14px;
    border-radius: 30px;
  }
}
@media (max-width: 362px) {
  .commentBox {
    height: 250px;
    margin-left: 5px;
    background-color: white;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
    padding: 15px;
    font-size: 14px;
    border-radius: 30px;
  }
}

/* Break */
.small_Nav_buttons {
  overflow: hidden !important;
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: radial-gradient(
    16887% 16887% at 51497% 18869%,
    #3b65b0 0%,
    #4f89c8 24%,
    #5fa0d7 52%,
    #77b4e2 100%
  );
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#mobNav {
  overflow: hidden;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  color: white;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.smallNavLogo {
  position: absolute;
  top: 30px;
  left: 35px;
  height: 80px !important;
}
.login2 {
  padding: 5px 45px;
  color: #e53212;
  font-size: 20px;
  border-radius: 50px;
  outline: none !important;
  border: 2px solid white;
  background-color: transparent;
  margin: 5px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .smallNavLogo {
    height: 80px;
  }
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block !important;
  }
  #mobNav {
    display: block !important;
  }
  nav {
    display: none !important;
  }
}
.hamburger {
  display: none;
  font-size: 25px !important;
}
.dropdown-menu {
  background-color: transparent !important;
  border: 0px !important;
  width: 100%;

  text-align: center !important;
}
.dropdown-item {
  color: white !important;
  font-size: 50px !important;
  font-weight: bold !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
}
.btn-smallNav {
  font-size: 25px;
  padding: 20px 250px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 20px;
}
.subs_Btn {
  background-color: #e53212;
  color: white;
  font-size: 25px ;
  padding: 20px 250px ;
  border-radius: 30px ;
  display: inline-block ;
  margin-top: 20px ;
}
.lgnBtn {
  border: 2px solid white !important;
  background-color: transparent;
  color: white;
  font-size: 25px ;
  padding: 20px 250px ;
  border-radius: 30px ;
  display: inline-block ;
  margin-top: 20px ;
}
